<% layout('/layouts/boilerplate') -%>
<div class="row">
    <div class="col-8 offset-2">
    <br>
    <h3>Edit your Listing</h3>
    <form method="POST"  action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <div class="mb-3">
            Original Listing Image <br>
            <img src="<%= originalImageUrl %>" class="preview-img">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input type="file" name="listing[image]" class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" value="<%= listing.price %>" class="form-control" required>
                <div class="invalid-feedback">Price should be valid</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
                <div class="invalid-feedback">Country name should be valid</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" name="listing[category]" id="category">
                <option value="<%= listing.category %>" selected><%= listing.category %></option>
                <option value="rooms">Rooms</option>
                <option value="iconic-cities">Iconic Cities</option>
                <option value="mountains">Mountains</option>
                <option value="castles">Castles</option>
                <option value="amazing-pools">Amazing Pools</option>
                <option value="camping">Camping</option>
                <option value="arctic">Arctic</option>
                <option value="farms">Farms</option>
                <option value="domes">Domes</option>
                <option value="boats">Boats</option>
            </select>    
        </div>
        <button class="btn btn-dark add-btn">Edit</button>
    </form>
    </div>
</div>
<br>