<% layout('/layouts/boilerplate') -%>  

<div class="filters-main">
    <div id="filters">
        <div class="left_img_button" id="slideButton" style="display: none;">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <a href="/listings/">
            <div class="filter ALL ps-2 pe-2">
                <div><img src="/Assets/0.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p style="text-decoration: none;">ALL</p>
            </div>
        </a>
        <a href="/listings/filter/Beachfront">
            <div class="filter Beachfront">
                <div><img src="/Assets/1.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Beachfront</p>
            </div>
        </a>
        <a href="/listings/filter/Cabins">
            <div class="filter Cabins">
                <div><img src="/Assets/2.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>&nbsp;Cabins&nbsp;</p>
            </div>
        </a>
        <a href="/listings/filter/Omg">
            <div class="filter OMG">
                <div><img src="/Assets/3.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>&nbsp;OMG!&nbsp;</p>
            </div>
        </a>
        <a href="/listings/filter/Lake">
            <div class="filter Lake">
                <div><img src="/Assets/4.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>&nbsp;Lake&nbsp;</p>
            </div>
        </a>
        <a href="/listings/filter/Design">
            <div class="filter Design">
                <div><img src="/Assets/5.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>&nbsp;Design&nbsp;</p>
            </div>
        </a>
        <a href="/listings/filter/Amazing Pools">
            <div class="filter Amazing-pools">
                <div><img src="/Assets/6.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Amazing pools</p>
            </div>
        </a>
        <a href="/listings/filter/Farms">
            <div class="filter Farms">
                <div><img src="/Assets/7.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>&nbsp;Farms&nbsp;</p>
            </div>
        </a>
        <a href="/listings/filter/Amazing Views">
            <div class="filter Amazing-views">
                <div><img src="/Assets/8.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Amazing views</p>
            </div>
        </a>
        <a href="/listings/filter/Rooms">
            <div class="filter Rooms">
                <div><img src="/Assets/9.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>&nbsp;Rooms&nbsp;</p>
            </div>
        </a>
        <a href="/listings/filter/Lakefront">
            <div class="filter Lakefront">
                <div><img src="/Assets/10.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Lakefront</p>
            </div>
        </a>
        <a href="/listings/filter/Tiny Homes">
            <div class="filter Tiny-homes">
                <div><img src="/Assets/11.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Tiny homes</p>
            </div>
        </a>
        <a href="/listings/filter/Countryside">
            <div class="filter Countryside">
                <div><img src="/Assets/12.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Countryside</p>
            </div>
        </a>
        <a href="/listings/filter/Treehouse">
            <div class="filter Treehouse">
                <div><img src="/Assets/13.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Treehouse</p>
            </div>
        </a>
        <a href="/listings/filter/Trending">
            <div class="filter Trending">
                <div><img src="/Assets/14.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Trending</p>
            </div>
        </a>
        <a href="/listings/filter/Tropical">
            <div class="filter Tropical">
                <div><img src="/Assets/15.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Tropical</p>
            </div>
        </a>
        <a href="/listings/filter/National Parks">
            <div class="filter National-parks">
                <div><img src="/Assets/16.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>National parks</p>
            </div>
        </a>
        <a href="/listings/filter/Castles">
            <div class="filter Castles">
                <div><img src="/Assets/17.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Castles</p>
            </div>
            </a>
        <a href="/listings/filter/Camping">
            <div class="filter Camping">
                <div><img src="/Assets/18.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Camping</p>
            </div>
            </a>
        <a href="/listings/filter/Top Of The World">
            <div class="filter Top-of-the-world">
                <div><img src="/Assets/19.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Top of the world</p>
            </div>
            </a>
        <a href="/listings/filter/Luxe">
            <div class="filter Luxe">
                <div><img src="/Assets/20.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>&nbsp;Luxe&nbsp;</p>
            </div>
            </a>
        <a href="/listings/filter/Iconic Cities">
            <div class="filter Iconic-cities">
                <div><img src="/Assets/21.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Iconic cities</p>
            </div>
            </a>
        <a href="/listings/filter/Earth Homes">
            <div class="filter Earth-homes">
                <div><img src="/Assets/22.png" alt="icon" style="width: 25px; height: 25px;"></div>
                <p>Earth homes</p>
            </div>
        </a>
        <div class="right_img_button" id="slideButton">
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </div>
    
    <div class="tax-toggle tax-filter">
        <div class="form-check form-switch form-check-reverse">
            <input class="form-check-input tax-switch shadow-none" type="checkbox" role="switch" id="flexSwitchCheckDefault" style="cursor: pointer;">
            <label class="form-check-label changeAfter" for="flexSwitchCheckDefault" style="cursor: pointer;">Display total before taxes</label>
        </div>
    </div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let listing of allListings){ %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col listing-card">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
            <div class="card-body">
                <p class="card-text">
                    <b><%= listing.title %></b> <br>
                    <%
                        let today = new Date();
                        let checkInOffset = Math.floor(Math.random() * 28 + 1);
                        let stayDuration = Math.floor(Math.random() * 4 + 2);
                        let checkInDate = new Date(today.setDate(today.getDate() + checkInOffset));
                        let checkOutDate = new Date(today.setDate(today.getDate() + stayDuration));
                    %>
                    <span style="display: block;">
                        <span class="tax-info">&nbsp;<%= stayDuration %> nights •</span> 
                        &nbsp;<%= checkInDate.getDate() %>-<%= checkOutDate.getDate() %> &nbsp;&nbsp;
                        <%= checkInDate.toLocaleString('default', { month: 'short' }) %>
                    </span>
                    
                    <span class="price-info"><span class=" fw-bold">&nbsp;&#8377;<%= listing.price.toLocaleString("en-IN") %> </span>  night</span>
                    <i class="tax-info tax-underline ms-1"><i class="rs-sign"><b> &#8377;</i><%= (listing.price * 1.18).toLocaleString("en-IN") %></b> &nbsp;total after taxes</i>
                </p>
            </div>
        </div>
    </a>
    <% } %> 
</div>

<script src="/js/filter.js"></script>
<script src="/js/tax.js"></script>
